@model Hotel
<h1> Add a Hotel to HotelsForYou</h1>


@if (ViewData["ErrorMessage"] != null)
{
    <p class="text-bg-danger"> @ViewData["ErrorMessage"]</p>
}

<form class="add-form" asp-action="Add" method="post" role="form">
 <div>  
    <label asp-for="Name" lass="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div>
    <label asp-for="City" class="form-label"></label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>

<div>
    <label asp-for="Country" class="form-label"></label>
    <input asp-for="Country" class ="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>
<div>
    <label asp-for="Price" class="form-label"></label>
       <input asp-for="Price" type="number" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div>
    <label asp-for="Description" class="form-label"></label>
    <textarea asp-for="Description"  class="form-control">Description</textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <input type="submit" value ="generate" asp-action="GenerateDesc"  />
</div>
<div>
    <label asp-for="ImageUrl" class="form-label"></label>
    <input asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
        <input type="submit" value="generate" asp-action="GenerateImage" />
</div>
<div>
        <input type="submit" asp-action="SubmitAddition" value="Add Hotel" class="btn btn-primary" onclick="javascript: return confirm('Are you sure you want to add this hotel?');" />
</div>
</form>